@media (max-width: 1200px) {
    .header {

        &__icon {
            margin: 0 0 84px 0;
            height: 66px;
        }

        &__text {
            margin-bottom: 100px;
        }


        &__scroll {
            margin-top: 10px;
        }
    }

    .cards {

        &__container {
        grid-template: repeat(2, 3fr) / 1fr 1fr 1fr;
        }
    }

    
}


@media (max-width: 979px) { 

    .fieldset {
        padding: 0 20px;
    }

    .title {
        padding: 0 50px;
    }

    .container {
        max-width: 768px;
    }

    .header {
        &__container {
            padding: 50px 0;
        }

        &__icon {
            margin-bottom: 44px;
        }
        &__title {
            font-size: 34px;
        }

        &__text {
            font-size: 13px;
            margin-bottom: 50px;
        }
    }
    .cards {
        &__title {
            font-size: 24px;
            margin: 100px 0 40px 20px;
        }
    }

    .contact {

        &__link {
            width: 300px;
        }
    }
}


@media  (max-width: 767px) {
    .container {
        max-width: 480px;
        
    }

    .header {
        height: 100vh;
    }
}

@media  (max-width: 479px) {  
    
    .container {
        max-width: 320px;
    }

    .about {
        
        &__container {
            padding: 50px 0;
        }

        &__text {
            width: 100%;
        }
    }

    .services {
        &__text {
            margin-bottom: 20px;
        }
    }

    .what-we-do {

        &__container {
            padding: 50px 0;
        }

        &__title {
            margin-bottom: 50px;
        }

        &__text {
            margin-bottom: 60px;
 
        }

    }

    .cards {

        &__container {
            grid-template: repeat(3, 1fr) / 1fr 1fr;
            margin-bottom: 54px;
        }
    }

    .contact {
        &__title {
            margin-bottom: 30px;
        }
    }

    .footer {
        &__icon {
            margin: 34px 36px 34px 0;
        }
    }
}


